@use 'mixin' as mixin;

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  .container {
    @apply w-full max-w-[1300px] 3xl:max-w-[1500px] px-3 sm:px-4 mx-auto;
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .transition-400 {
    @apply transition-all duration-400;
  }

  section.page {
    @apply mt-2 sm:mt-4 lg:mt-6;
  }
}

html {
  scroll-behavior: smooth;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.top-shadow {
  box-shadow: 0px -4px 12px -2px rgba(0, 0, 0, 0.2);
}

.gradient-class {
  background: linear-gradient(
                  0deg,
                  rgba(255, 255, 255, 1) 0%,
                  rgba(255, 255, 255, 0.7343312324929971) 28%,
                  rgba(255, 255, 255, 0) 100%
  );
}

.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(5px);
}

.custom-height {
  min-height: calc(100vh - 114px);
  padding-bottom: 60px;
  @include mixin.media(640px) {
    padding-bottom: 75px;
    min-height: calc(100vh - 210px);
  }
  @include mixin.media(1024px) {
    padding-bottom: 0;
    min-height: calc(100vh - 500px);
  }
}

.swiper-pagination-bullet-active {
  background: #120A44 !important;
}

.react-international-phone-input-container {
  border-radius: 12px;
  padding: 4px 0 4px 8px;
  border: 1px solid #E4E4E7;
  overflow: hidden;
}

.react-international-phone-input,
.react-international-phone-country-selector-button {
  border: none !important;
  font-size: 16px !important;
  background: white !important;
}

.pulse {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1d3044;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(5, 159, 0, 0.57);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(98, 217, 51, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(106, 217, 51, 0);
  }
}